/* PROFILE PAGE CSS */

#profile-container {
    position: absolute;
    width: 100%;
    /* height: 1100px; */
    background-color: rgb(250, 250, 250);
    /* background-image: url('../../assets/dark-background.jpg'); */
}

#profile-container a.link-back-to-home {
    color: rgb(24, 24, 24);
    transition: .4s;
}

#profile-container a.link-back-to-home:hover {
    color: black;
    text-shadow: 0px 0px 1px rgb(107, 107, 107);
}

#profile-container h1 {
    color: rgb(95, 95, 95);
    display: block;
    margin: auto;
    margin-top: 80px;
    text-shadow: 0px 1px 1px rgb(138, 136, 136);
    width: fit-content;
    text-transform: uppercase;
}

#profile-container #profile-content {
    margin: 90px auto 50px auto;
    background-color: #fff;
    border: 1px solid rgb(204, 200, 200);
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(192, 190, 190);
    /* width: 60%; */
    max-width: 570px;
    /* padding: 0px 35px 30px 35px; */
    padding: 0px;
    /* min-width: 800px; */
    display: flex;
    flex-direction: column;
}

#profile-container #profile-content h2 {
    /* color: rgb(95, 95, 95); */
    color: #fff;
    display: block;
    text-shadow: 0px 1px 1px rgb(167, 167, 167);
    width: fit-content;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: auto;
    margin-bottom: 12px;
    text-transform: uppercase;
    /* background-color: rgb(207, 207, 207); */
    /* background-color: rgb(5, 40, 87); */
    background-color: rgb(87, 87, 87);
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(184, 183, 183);
    padding: 12px 25px;
}

#profile-container #profile-content #profile-personal-info-box {
    margin: 1.8rem auto 2.2rem auto;
    display: flex;
}

#profile-container hr {
    color: rgb(230, 227, 227);
    /* margin-bottom: 1.5rem; */
}

#profile-container #profile-content #profile-personal-info-box img#profile-personal-info-img {
    border-radius: 50%;
    border: 2px solid rgb(167, 167, 167);
}

#profile-container #profile-content #profile-personal-info-box #profile-personal-info-data {
    margin-left: 2.5rem;
    font-weight: 300;
}

#profile-container #profile-content #profile-personal-info-box #profile-personal-info-data h3,
#profile-container #profile-content #profile-personal-info-box #profile-personal-info-data p {
    padding: 5px;
    font-size: .95rem;
}

#profile-container #profile-content #profile-personal-info-box #profile-personal-info-data h3 {
    font-size: 1.35rem;
}

#profile-container #profile-content button#edit-profile-button {
    /* background-color: orange; */
    /* width: 100%; */
    margin: auto;
    margin: .2rem auto 2rem auto;
    display: block;
    width: 240px;
}

#profile-container #profile-content #profile-personal-edit-box {
    /* background-color: red; */
    margin: 20px auto 5px auto;
    width: 85%;
    padding: 0 15px 30px 15px;
}

#profile-container #profile-content #profile-personal-edit-box .edit-profile-input-group:not(:first-child) {
    /* background-color: orange; */
    margin-top: 1.5rem;
}

#profile-container #profile-content #profile-personal-edit-box #edit-profile-buttons-group {
    margin-top: 2rem;
}

#profile-container #profile-content #profile-personal-edit-box #edit-profile-buttons-group #edit-profile-discard-button {
    margin-left: 14px;
    background-color: rgb(231, 67, 67);
    border: 1px solid rgb(212, 32, 32);
    transition: .5s;
}

#profile-container #profile-content #profile-personal-edit-box #edit-profile-buttons-group #edit-profile-discard-button:hover {
    background-color: rgb(206, 19, 19);
}

#profile-container #profile-content #profile-personal-edit-box #edit-profile-buttons-group #edit-profile-save-button {
    background-color: rgb(17, 197, 71);
    border: 1px solid rgb(8, 163, 54);
    transition: .5s;
}

#profile-container #profile-content #profile-personal-edit-box #edit-profile-buttons-group #edit-profile-save-button:hover {
    background-color: rgb(10, 155, 53);
}