/* FRIEND REQUEST COMPONENT CSS */

#friend-request-container {
    background-color: #fff;
    border: 1px solid rgb(204, 200, 200);
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(192, 190, 190);
    opacity: .95;
    width: 60%;
    min-height: 310px;
}

#friend-request-content {
    display: flex;
    flex-direction: column;
    padding: 5px 25px 20px 25px;
    overflow: auto;
}