/* LOGIN PAGE CSS */

#login-container {
    width: 100%;
    background-image: url("../../assets/dark-background.jpg");
    min-height: 680px;
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#login-form-container {
    width: 500px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
}

#login-form-container h1 {
    /* color: rgb(63, 63, 63); */
    color: rgb(56, 56, 56);
    text-shadow: 0px 0px 2px rgb(216, 216, 216);
    font-size: 1rem;
    text-align: center;
    margin-top: 1.2rem;
}

#login-form-container h1:hover {
    cursor: pointer;
    text-shadow: 0px 0px 1px rgb(170, 170, 170);
}

#login-form-container a#login-back-to-home-link {
    text-align: center;
    margin: 10px auto 0 auto;
    font-size: .8rem;
    color: rgb(0, 57, 131);
    display: none;
}

#login-form-container h2 {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 35px;
    font-size: 2rem;
    color: rgb(3, 60, 134);
    text-transform: uppercase;
}

#login-form-container #login-form {
    height: 100%;
    width: 100%;
}

#login-form-container #login-form div#real-name-group,
#login-form-container #login-form div#username-group,
#login-form-container #login-form div#password-group,
#login-form-container #login-form div#email-group  {
    width: 250px;
    margin: auto;
    /* height: 100px; */
}

#login-form-container #login-form div#real-name-group {
    margin-bottom: 20px;
}

#login-form-container #login-form div#email-group,
#login-form-container #login-form div#username-group {
    margin-bottom: 20px;
}

#login-form-container #login-form .login-link-questions {
    /* background-color: red; */
    margin-top: 1.4rem;
    display: flex;
    width: 100%;
    height: 15px;
    justify-content: center;
}

#login-form-container .error-messages-box {
    margin-top: -20px;
    margin-bottom: 20px;
}

#login-form-container #login-form a#forgot-password-link {
    font-size: .7rem;
    color: rgb(48, 48, 48);
    color: rgb(113, 65, 182);
    transition: .3s;
}

#login-form-container #login-form a#link-sign-up {
    font-size: .7rem;
    margin-left: .7rem;
    color: rgb(48, 48, 48);
    color: rgb(113, 65, 182);
    transition: .3s;
}

#login-form-container #login-form a#forgot-password-link:hover,
#login-form-container #login-form a#link-sign-up:hover {
    color: rgb(115, 39, 138);
}

#login-form-container #login-form button.sign-button {
    width: 250px;
    margin: 1.5rem auto 2.4rem auto;
    display: flex;
    justify-content: center;
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
    #login-container a.link-back-to-home {
        display: none;
    }

    #login-form-container a#login-back-to-home-link {
        display: block;
    }
}

@media (max-width: 560px) {
    #login-container {
        background-image: none;
        background-color: rgb(250, 250, 250);
    }

    #login-form-container {
        padding-top: 5vh;
        width: 100%;
        box-shadow: none;
        border: none;
    }
}