/* ACCOUNT EDITING COMPONENT CSS */

#account-editing-container {
    background-color: #fff;
    border: 1px solid rgb(204, 200, 200);
    border-radius: 4px;
    width: 60%;
    /* max-width: 750px; */
    box-shadow: 2px 2px 2px rgb(192, 190, 190);
    /* min-height: 569px; */
    min-height: 100%;
}

#account-editing-container #profile-personal-edit-box {
    margin: 22px auto;
    margin-top: 30px;
    width: 90%;
    padding: 0;
    padding-bottom: 30px;
    /* background-color: orange; */
}

#account-editing-container #profile-personal-edit-box .edit-profile-field-group .edit-profile-input-group {
    width: 48%;
    padding: 0px;
}

#account-editing-container #profile-personal-edit-box .edit-profile-field-group {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.error-messages-box {
    margin: 1rem auto;
    margin-bottom: -25px;
    width: fit-content;
    max-width: 100%;
}

#profile-personal-edit-box .edit-profile-input-group:not(:first-child) {
    margin-top: 1.5rem;
}

#account-editing-container #profile-personal-edit-box button {
    margin-top: 3rem;
    margin-bottom: 0;
}

/* MEDIA QUERIES */