/* PERSONAL INFORMATION COMPONENT CSS */

#profile-info-content {
    background-color: #fff;
    border: 1px solid rgb(204, 200, 200);
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgb(192, 190, 190);
    display: flex;
    width: 400px;
    /* height: 700px; */
    min-height: 100%;
    flex-direction: column;
}

#profile-info-content h2 {
    margin: 0;
}

#profile-info-content #profile-personal-info-box {
    margin: 1.8rem auto 1.8rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: orange; */
}

#profile-info-content #profile-personal-info-box img#profile-personal-info-img {
    border-radius: 50%;
    border: 2px solid rgb(167, 167, 167);
    margin-bottom: 25px;
}

#profile-info-content #profile-personal-info-box #profile-personal-info-data {
    font-weight: 300;
    /* background-color: purple; */
    min-width: 300px;
}

#profile-info-content #profile-personal-info-box #profile-personal-info-data h3,
#profile-container #profile-info-content #profile-personal-info-box #profile-personal-info-data p {
    padding: 4px;
    font-size: .95rem;
}

#profile-info-content #profile-personal-info-box #profile-personal-info-data p#profile-bio-view {
    border-bottom: 1px solid rgb(161, 161, 161);
    padding-bottom: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
    /* background-color: palegreen; */
    max-width: 350px;
    /* min-height: 70px; */
}

#profile-container #profile-info-content #profile-personal-info-box #profile-personal-info-data h3 {
    font-size: 1.6rem;
}

/* MEDIA QUERIES */