/* FRIEND REQUEST LIST COMPONENT CSS */

.search-result-card-item {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(155, 155, 155);
    margin-bottom: 20px;
    width: 100%;
}

.search-result-card-item:last-child {
    border: none;
    padding-bottom: 3px;
    margin: 0;
}

.search-result-card-item img {
    border: 1px solid rgb(170, 170, 170);
    border-radius: 3px;
    margin-right: 20px;
}

.search-result-card-item
.search-result-card-item-info {
    width: 100%;
    font-weight: 300;
}

.search-result-card-item
.search-result-card-item-info .search-result-card-item-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.search-result-card-item
.search-result-card-item-info .search-result-card-item-title p:first-child {
    font-size: 20px;
    font-weight: bold;
}

.search-result-card-item button.btn-search-result-add {
    font-size: .7rem;
    display: flex;
    line-height: 1;
    justify-content: space-between;
    width: 60px;
    align-items: center;
    padding: 6px 8px;
}

.search-result-card-item .search-result-card-item-info p:last-child {
    padding-top: 5px;
}

.contact-request-sent {
    line-height: 1.6;
}

.contact-request-sent svg {
    margin-left: 4px;
    padding-top: 5px;
}

.pending-request-buttons-box {
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    width: 135px;
}

.pending-request-buttons-box button {
    font-size: 11px;
    width: 65px;
    padding: 6px 5px;
}

.pending-request-buttons-box .accept-request-button {
    background-color: rgb(17, 197, 71);
    border: 1px solid rgb(8, 163, 54);
    transition: .5s;
}

.pending-request-buttons-box .accept-request-button:hover {
    background-color: rgb(18, 165, 62);
}

.pending-request-buttons-box .reject-request-button {
    background-color: rgb(231, 67, 67);
    border: 1px solid rgb(212, 32, 32);
    transition: .5s;
}

.pending-request-buttons-box .reject-request-button:hover {
    background-color: rgb(211, 33, 33);
}

/* MEDIA QUERIES */