@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: 'Ubuntu', sans-serif, Verdana, Geneva, Tahoma;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

label {
  color: rgb(88, 88, 88);
}

input, textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  font-size: .85rem;
  margin-top: .3rem;
  border-radius: 5px;
  border: 1px solid rgb(170, 170, 170);
  box-shadow: 1px 1px 1px rgb(214, 214, 214);
  background-color: #fafafa;
}

button, .button {
  border-radius: 4px;
  padding: 10px;
  border: 1px solid black;
  background-color: rgb(41, 41, 41);
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 0px 1px rgb(228, 228, 228);
  transition: .4s;
  box-shadow: 1px 1px 1px rgb(165, 165, 165);
  text-align: center;
}

button:hover {
  background-color: rgb(19, 19, 19);
  cursor: pointer;
}

button:disabled {
  opacity: .5;
}

button:disabled:hover {
  opacity: .5;
  cursor: default;
  background-color: rgb(41, 41, 41);
}

a.link-back-to-home {
  color: #fff;
  position: absolute;
  left: 20px;
  top: 20px;
  transition: .2s;
}

a.link-back-to-home:hover {
  cursor: pointer;
  text-shadow: 0px 0px 1px rgb(212, 212, 212);
}

h2.loading-page-message {
  text-align: center;
  margin-top: 20px;
}

.error-messages-box {
  background-color: rgb(230, 69, 69);
  margin: 0 auto 1.8rem auto;
  padding: 11px 1rem;
  font-size: .8rem;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  opacity: .85;
}

p.nothing-found-message {
  font-weight: 300;
  font-size: 17px;
  text-align: center;
}